<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
       <div class="item item-text-wrap">
        BBJ Export since our inception in the year 2007 has been reckoned manufacturer, wholesaler, retailer, supplier and service provider of an     extensive collection of premium quality Ladies Ghagras, Ladies Sarees, Ladies Suit, Ladies Gowns, Ladies Maxi and Ladies Dress Material. 
       </div>
   </div>
  </ion-content>
</ion-view>
