<ion-view view-title="{{categoryTitle}}">
  <ion-header-bar class="bar bar-subheader">
      <a ng-repeat="catimage in catimages"  class="item item-thumbnail-left" href="#" style="overflow: hidden;white-space: normal;">
       <img ng-src="{{BASE_URL}}{{catimage.image}}">
       <div class="cat-title">{{categoryTitle}}</div>
    </a>
  </ion-header-bar>
  <ion-content class="has-header">
   <div class="row" ng-repeat="product in products" ng-if="$index % 2 === 0" style="margin-bottom: 5px">
        <a class="col imgcontainer" ng-if="$index < products.length" href="#/app/products/{{products[$index].product_id}}/{{products[$index].price}}/{{products[$index].name}}">
            <img ng-src="{{BASE_URL}}{{products[$index].image}}" width="100%" height="{{grid_height}}px"/>
            <div class="custom-title">{{products[$index].name}}</div>
            <div class="custom-subtitle">&#8377;{{products[$index].price}}</div>           
        </a>
        <a class="col imgcontainer" ng-if="$index + 1 < products.length" style="margin-left: 5px" href="#/app/products/{{products[$index + 1].product_id}}/{{products[$index + 1].price}}/{{products[$index + 1].name}}">
            <img ng-src="{{BASE_URL}}{{products[$index + 1].image}}" width="100%" height="{{grid_height}}px"/>
            <div class="custom-title">{{products[$index + 1].name}}</div>
            <div class="custom-subtitle">&#8377;{{products[$index+1].price}}</div>
        </a>
    </div>
 </ion-content>
</ion-view>
