<ion-view view-title="Contact Us">
  <ion-content>
       <div class="list card">

	  <div class="item item-thumbnail-left">
	    <img ng-src="{{image}}">
	    <h2>{{name}}</h2>
	  </div>

	  <div class="item item-body">
	    <h3>Call Us: {{callnumber}}</h5>
	    <p>{{address}}</p>
	  </div>
   </div>
  </ion-content>
</ion-view>
