 <ion-modal-view>
   <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">{{title}}</h1>
      <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
   </ion-header-bar>
   <ion-content class="padding" scroll="false">
     <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
        <img ng-src="{{BASE_URL}}{{product.image}}" on-double-tap="zoomFunction()">
     </ion-scroll>
   </ion-content>
 </ion-modal-view>
