<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive" align-title="left">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-cart" ng-show="loginstatus" ng-click="userCart()" >
        </button><span class="badge badge-assertive" ng-show="loginstatus">{{cartcount}}</span>
         <button class="button button-icon button-clear ion-log-in" ng-hide="true" ng-click="logIn()">
        </button>
        <button class="button button-icon button-clear ion-log-out" ng-show="false" ng-click="logOut()">
        </button>
        <button class="button button-icon ion-more" ng-click="popover.show($event)">
        </button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#/app/products">
          <i class="icon ion-home assertive"></i>
          Home
        </ion-item>
        <ion-item class="item-icon-left">
           <i class="icon ion-planet assertive"></i>
          Categories
        </ion-item>
        <div ng-repeat="category in categories">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(category)"
                    ng-class="{active: isGroupShown(category)}" style="border: none !important;">
              <i class="icon assertive" ng-show="category.items.length!=0" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{category.title}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in category.sub"
                    ng-show="isGroupShown(category)" href="#/app/categoryproducts/{{item.category_id}}/{{category.title}}" menu-close>
            {{item.meta_title}}
          </ion-item>
        </div>
        <ion-item class="item-icon-left" menu-close href="#/app/contactus">
          <i class="icon ion-ribbon-b assertive"></i>
          Contact Us
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/help">
              <i class="icon ion-ios-help assertive"></i>
              Help Centre
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/aboutus">
          <i class="icon ion-ipad assertive"></i>
          About Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
