 <ion-popover-view>
        <ion-content>
           <div class="list" ng-click="popover.hide()">
            <div class="item item-icon-left" ng-hide="loginstatus" ng-click="logIn()">
              <i class="icon ion-log-in assertive"></i>
              Login
            </div>
            <a class="item item-icon-left" ng-show="userwholesaler" href="#/app/wholesaler">
              <i class="icon ion-social-wordpress-outline assertive"></i>
              Wholeseller
            </a>
            <a class="item item-icon-left" ng-show="loginstatus" href="#/app/useraccount">
              <i class="icon ion-ios-person-outline assertive"></i>
              My Account
            </a>
            <div class="item item-icon-left" ng-show="loginstatus" ng-click="userCart()">
              <i class="icon ion-ios-cart-outline assertive"></i>
             My Cart
            </div>
            <a class="item item-icon-left" ng-show="false" href="#/app/orderdetails">
              <i class="icon ion-ios-briefcase-outline assertive"></i>
              My Orders
            </a>
	    <a class="item item-icon-left" ng-show="loginstatus" href="#/app/customizeOrder">
              <i class="icon ion-tshirt-outline assertive"></i>
              Custmize Order
            </a>	
            <a class="item item-icon-left" ng-show="loginstatus" href="#/app/wishlist">
	      <i class="icon ion-ios-heart-outline assertive"></i>
              Wishlist
            </a>
            <div class="item item-icon-left" ng-show="loginstatus" ng-click="logOut()">
              <i class="icon ion-log-out assertive"></i>
              Log Out
            </div>
          </div>
        </ion-content>
</ion-popover-view>
