<ion-view view-title="{{title }}">
  <ion-content>
   <div class="list card">

	  <div class="item item-devider">
	    <h2>{{title}}</h2>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" ng-src="{{BASE_URL}}{{product.image}}" ng-click="showImages()">
	    <h2>Availability : {{product.name}}</h2>
	    <h3>&#8377; {{product.product_price}}</h3>
            <h3>Ex Tax: Rs{{product.product_price}}</h3>
	    <p></p>
	  </div> 
          <label class="item item-input">
             <span class="input-label">Quantity</span>
             <input type="number" name="quantity" ng-model="quantity.value" ng-init="quantity.value = 1" min="1">
         </label>
       </div>
  </ion-content>
   <ion-footer-bar>
    <div class="buttons center" style="border:none !important;border-radius: 5px !important;background-color:#4CAF50;color: white;height: 100% !important;width: 50% !important;" ng-click="addToCart()">
    <button class="button button-icon ion-ios-cart" style="border:none !important;color: white;text-align:center !important;width: 100%;">&nbsp&nbspAdd To Cart</button>
  </div>
  &nbsp
  <div class="buttons center" style="border:none !important;border-radius: 5px !important;background-color:#2196F3;color: white;height: 100% !important;width: 50% !important;" ng-click="addToWishList()">
    <button class="button button-icon ion-ios-heart" style="border:none !important;color: white;text-align:center !important;width: 100%;">&nbsp&nbspWishList</button>
  </div>
</ion-footer-bar>
</ion-view>
