<ion-view view-title="BBJ Export">
  <ion-content class="has-header">
   <div ng-show="network">
    <div class="padding" ng-show="banners.length">
        <ion-slide-box auto-play="true" show-pager="false" does-continue="true">
         <ion-slide ng-repeat="banner in banners" repeat-done="repeatDone()">
           <img height="150px" ng-src="{{BASE_URL}}{{banner.image}}"/>
         </ion-slide>
        </ion-slide-box> 
    </div>
    
    <div ng-show="products.length">
	    <div class="item item-divider">Feature Products</div>
	    <div class="card">
	     <ion-scroll direction="x" delegate-handle="horizontal" scrollbar-x="false">
		    <div class="product-box" style="width:{{products.length*155}}px">
		      <a class="product-item" ng-repeat="product in products" 
                          href="#/app/products/{{product.product_id}}/{{product.price}}/{{product.name}}">
			<img ng-src="{{BASE_URL}}{{product.image}}" class="image-list-thumb"/>
			<div class="product-title">{{product.name}}</div>
		      </a>
		   </div>
	     </ion-scroll>
	    </div>
   </div>
   
 </div>
   
 <div class="card" ng-show="!network">
       <div class="item item-text-wrap">
        The internet is disconnected on your device.
       </div>
 </div>
 <div class="card" ng-show="network && !banners.length && !products.length">
       <div class="item item-text-wrap">
        Products Not Available !
       </div>
 </div>
 </ion-content>
</ion-view>
