<ion-view view-title="My Cart" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
 <ion-header-bar class="bar bar-subheader">
 <div ng-show="cartlists.length">
  <div class="row">
           <div class="col">Total Product:</div>
           <div class="col">{{cartlists.length}}</div>
  </div>
  <div class="row">
           <div class="col">Sub Total:</div>
           <div class="col">&#8377; {{total}}/-</div>
  </div>
  <div class="row">
           <div class="col">Grand Total:</div>
           <div class="col">&#8377; {{total}}/-</div>
  </div>
 </div>
 <div ng-if="cartlists !== undefined && !cartlists.length">
        <div class="card">
	  <div class="item item-text-wrap">
	    Cart List Empty..
	  </div>
  </div>
  </div>
 </ion-header-bar>
  <ion-content ng-init="showAllCart()">
    <ion-list>
     <div class="list card padding"  ng-repeat="cartlist in cartlists">
       <div class="item item-divider">{{cartlist.name}}
       </div>
       <div class="item item-thumbnail-left">
           <img ng-src={{BASE_URL}}{{cartlist.image}}>
    	    <h2>{{cartlist.model}}</h2>
            <h3>Price Per Unit : &#8377;{{cartlist.price}}</h3>
        </div>
        <label class="item item-input">
	  <span class="input-label">Quantity :</span>
          <input type="number" name="quantity" ng-model="cartlist.quantity">
        </label>
        <div class="row">
          <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="updateCart(cartlist)">
               Update Quantity</button>
          </div>
        </div>
        <div class="row">
           <div class="col col-25"></div>
           <div class="col col-offset-10"><h3>&#8377; {{cartlist.price*cartlist.quantity}}/-</h3></div>
        </div> 
        <div class="button-bar padding">
                <button class="button icon-left ion-android-cart button-balanced" ng-click="addToWishList(cartlist)">WishList</button>
                <button class="button icon-left ion-trash-b button-balanced" ng-click="removeProductFromCart(cartlist)">Remove</button>
        </div>
     </div>
    </ion-list>
     <div ng-if="cartlists !== undefined && !cartlists.length">
        <div class="row">
	   <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="continueShoping()">Continue Shopping</button>
           </div>
      </div>
    </div>
  </ion-content>
 <ion-footer-bar ng-show="cartlists.length">
    <div class="buttons center" style="border:none !important;border-radius: 5px !important;background-color:#4CAF50;color: white;
                height: 100% !important;width: 100% !important;" ng-click="userCheckout()">
    <button class="button button-icon icon-right ion-chevron-right" style="border:none !important;color: white;
                   text-align:center !important;width: 100%;">
     Proceed to Checkout</button>
  </div>
</ion-footer-bar>
</ion-view>
