<ion-view title="User Account" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header background">
    <div class="list card">
       <div class="item item-divider">MY ACCOUNT</div>
       <div class="item item-icon-left" ng-click="userInformation()">
	    <i class="icon ion-person"></i>
	    Edit Account Information
       </div>
       <div class="item item-icon-left" ng-click="changePassword()">
	    <i class="icon ion-locked"></i>
	    Change Your Password
       </div>
       <div class="item item-icon-left" ng-click="changeAddress()">
	    <i class="icon ion-ios-location"></i>
	    Modify Your Address Book Entries
        </div>
        <div class="item item-icon-left" ng-click="userWishList()">
	    <i class="icon ion-heart"></i>
	    Modify Your Wish List
	</div>
     </div>


     <div class="list card">
       <div class="item item-divider">MY Customize Order</div>
       <div class="item item-icon-left" ng-click="customizeOrder()">
	    <i class="icon ion-tshirt-outline"></i>
	    Customize Order
       </div>
       <div class="item item-icon-left" ng-click="customizeOrderList()">
	    <i class="icon ion-bag"></i>
	    Customize Order List
       </div>
     </div>


     <div class="list card">
       <div class="item item-divider">MY ORDERS</div>
       <div class="item item-icon-left" ng-click="userOrderHistory()">
	    <i class="icon ion-pie-graph"></i>
	    View Your Order History
       </div>
       <div class="item item-icon-left" ng-click="userReturnRequests()">
	    <i class="icon ion-reply"></i>
	    View Your Return Requests
       </div>
       <div class="item item-icon-left" ng-hide="true" ng-click="userTransactions()">
	    <i class="icon ion-ios-list"></i>
	    Your Transactions
       </div>
     </div>
  </ion-content>
</ion-view>
