<ion-view view-title="Wishlist" hide-back-button="true" cache-view="false">
   <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
   <ion-content class="padding">
      <ion-list>
        <div class="card" ng-repeat="wishlist in wishlists">
            <div class="item item-divider">{{wishlist.name}}
            </div>
            <div class="item item-text-wrap item-thumbnail-left" style="border:none !important">
                <img ng-src={{BASE_URL}}{{wishlist.image}}>
                <h2>{{wishlist.model}}</h2>
                <p>Price : &#8377;{{wishlist.price}}</p>
            </div>
            <div class="button-bar padding">
                <button class="button icon-left ion-android-cart button-balanced" ng-click="addToCart(wishlist)">Cart</button>
                <button class="button icon-left ion-trash-b button-balanced" ng-click="removeProductFromWishList(wishlist)">Remove</button>
            </div>
        </div>
      </ion-list>
      <div ng-if="wishlists !== undefined && !wishlists.length">
        <div class="card">
	  <div class="item item-text-wrap">
	    Wish List Empty..
	  </div>
	</div>
        <div class="row">
	   <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="continueShoping()">Continue Shopping</button>
           </div>
      </div>
    </div>
  </ion-content>
</ion-view>
