/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$bar-height:                      55px !default;

$bar-subheader-height: 125px !default;

$assertive : #FE642E !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 180px;
    width: 150px;
}
a{text-decoration: none !important}
.horizontal-scroll {overflow-x: hidden !important}
.zero-padding{ padding: 0px !important} 
.top-padding{ padding-top: 10px !important}
.product-box{width:100px;height:210px}
.product-title{
   width:145px !important; 
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: center;
}

.product-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width:150px;
  height:150px;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
ion-scroll {
  width: 100%;
  height: auto;
  white-space: nowrap;
}
.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #cc2511;
}
.no-errors {
    border-bottom: 3px solid #3d8b3d;
}
.optionList{
    position:absolute;
    width:100%;
    z-index:100;
    height:200px !important;
}
/* homescreen background image */
.background{
    background: url('../img/profile.jpg') no-repeat;
    background-size: cover;
}
.custom-item {
  padding: 10px !important;
  min-height: 0px !important; }

.cright {
  float: right;
  width: 50%;
  text-align: right; }

.cleft {
  float: left;
  width: 50%; }


.imgcontainer {
  background-color: none;
  float: left;
  /*border: 1px solid #B61133;*/
  position: relative;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  padding-bottom: 5px; }

.custom-title {
  text-align: center !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold; }

.custom-subtitle {
  text-align: center !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 5px; }

.cat-title {
  color: #000000;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.cat-descr {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 64px;
  /* fallback */
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical; }
.zoom-pane {
  width: 100%;
  height: 100%;
}


.zoom-pane .scroll {
  min-height: 100%;
  /* Vertical align */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-pane img {
  width: 100%;
  vertical-align: middle;
}

.zoom-pane img {
    width: 100%;
    vertical-align: middle;
}
