<!--http://codepen.io/felquis/pen/OPdaqK-->
 <ion-modal-view>
   <ion-header-bar class="bar bar-header bar-assertive">
      <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
      <h1 class="title">Change Password</h1>
      <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
   </ion-header-bar>
   <ion-content>
    <form name="form" novalidate>
     <div class="list padding">
      <label class="item item-input item-stacked-label">
        <span class="input-label">New Password</span>
        <input type="text" ng-show="showPasswordIsChecked"
                placeholder="Enter password" 
                ng-model="user.newpassword"
                ng-focus="onPasswordFocus()"
                ng-minlength="8" 
                ng-maxlength="20" 
                my-maxlength="20"
                ng-blur="onPasswordBlur()" required ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
        <input type="password"
                ng-show="!showPasswordIsChecked"
                placeholder="Enter password"
                name="newpassword"
                ng-minlength="8" 
                ng-maxlength="20"
                my-maxlength="20"
                ng-model="user.newpassword" required ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" >
      </label>
      <div class="error-container">
              <div class="error" ng-show="form.newpassword.$error.required && form.newpassword.$dirty">
                   <i class="ion-information-circled"></i>
                   This field is required!
              </div>
             <div class="error"  ng-show="!form.newpassword.$error.required 
                                      && (form.newpassword.$error.minlength ||form.newpassword.$error.maxlength) 
                                      && form.newpassword.$dirty">  
                        <i class="ion-information-circled"></i>
                        Passwords must be between 8 and 20 characters.
             </div>
            <div class="error" ng-show="!form.newpassword.$error.required && !form.newpassword.$error.minlength 
                          && !form.newpassword.$error.maxlength && form.newpassword.$error.pattern 
                          && form.newpassword.$dirty"> 
                          <i class="ion-information-circled"></i>
               Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)
            </div>
        </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Confirme password</span>
        <input type="password"
                placeholder="Confirme password"
                name="confirmepassword"
                my-maxlength="20"
                ng-model="user.confirmePassword" required>
      </label>
      <div class="error-container">
        <div class="error" ng-show="form.confirmepassword.$error.required && form.confirmepassword.$dirty">
                   <i class="ion-information-circled"></i>
                  Please confirm your password.
        </div>
        <div class="error" ng-show="!form.confirmepassword.$error.required && form.confirmepassword.$error.noMatch 
                                   && form.confirmepassword.$dirty">
                   <i class="ion-information-circled"></i>
                  Passwords do not match.!
        </div>
      </div>
      <ion-checkbox ng-model="showPasswordIsChecked">Show password</ion-checkbox>
    </div>
    <div class="padding">
      <button type="submit" class="button icon-right ion-chevron-right button-block button-energized"
              ng-disabled="form.$invalid" ng-click="updateUserPassword()">
        Submit
      </button>
   </div>
   </form>
   </ion-content>
 </ion-modal-view>
