<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
        <h1 class="title">Your Personal Details</h1>
        <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
        <form name="userinfo" novalidate>
            <div class="list card">
                <label class="item item-input" ng-class="{ 'has-errors' : userinfo.firstname.$invalid&& !userinfo.firstname.$pristine, 
                       'no-errors' : userinfo.firstname.$valid}">
                     <span class="input-label">First Name</span>
                     <input name="firstname" type="text" 
                            ng-model="user.firstname" 
                            ng-maxlength="20"
                            my-maxlength="20"
                            ng-pattern="/^[a-zA-Z]*$/" 
                            alphabets-only
                            capitalize-first 
                            required>
                </label>
                <div class="error-container">
                 <div class="error" ng-show="userinfo.firstname.$error.required && userinfo.firstname.$dirty">
                  <i class="ion-information-circled"></i> This field is required!
                 </div>
                 <div class="error"  ng-show="!userinfo.firstname.$error.required 
                                      && userinfo.firstname.$error.maxlength 
                                      && userinfo.firstname.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Firstname cantains Max 20 characters!
                  </div>
                  <div class="error" ng-show="!userinfo.firstname.$error.required 
                                        && !userinfo.firstname.$error.maxlength 
                                        && userinfo.firstname.$error.pattern 
                                        && userinfo.firstname.$dirty">
                    <i class="ion-information-circled"></i>
                    Must contain Albhabets!
                  </div>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : userinfo.lastname.$invalid&& !userinfo.lastname.$pristine,
                       'no-errors' : userinfo.lastname.$valid}">
	            <span class="input-label">Last Name</span>
	            <input name="lastname" type="text" ng-model="user.lastname" 
                           ng-maxlength="20" 
                           ng-maxlength="20"
                           my-maxlength="20"
                           ng-pattern="/^[a-zA-Z]*$/" 
                           alphabets-only
                           capitalize-first
                           required>
	       </label>
               <div class="error-container">
		        <div class="error" ng-show="userinfo.lastname.$error.required && userinfo.lastname.$dirty">
		          <i class="ion-information-circled"></i> This field is required!
		        </div>
		        <div class="error"  ng-show="!userinfo.lastname.$error.required 
		                              && userinfo.lastname.$error.maxlength 
		                              && userinfo.lastname.$dirty">
		                              <i class="ion-information-circled"></i>
		                              Lastname cantains Max 20 characters!
		       </div>
		       <div class="error" ng-show="!userinfo.lastname.$error.required 
		                                && !userinfo.lastname.$error.maxlength 
		                                && userinfo.lastname.$error.pattern 
		                                && userinfo.lastname.$dirty">
		        <i class="ion-information-circled"></i>
		        Must contain Albhabets!
		        </div>
		</div>
         <label class="item item-input" ng-class="{ 'has-errors' : userinfo.email.$invalid&& !userinfo.email.$pristine, 
                      'no-errors' : userinfo.email.$valid}">
	   <span class="input-label">Email</span>
	   <input name="email" type="email" ng-model="user.email" ng-maxlength="90" my-maxlength="90" required>
	 </label>
         <div class="error-container">
              <div class="error" ng-show="userinfo.email.$error.required && userinfo.email.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!userinfo.email.$error.required 
                                      && userinfo.email.$error.maxlength 
                                      && userinfo.email.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Mail cantains Max 90 characters!
             </div>
              <div class="error" ng-show="!userinfo.email.$error.required 
                                        && !userinfo.email.$error.maxlength 
                                        && userinfo.email.$error.email 
                                        && userinfo.email.$dirty">
               <i class="ion-information-circled"></i>
                 Not valid email!
              </div>
          </div>
         <label class="item item-input" ng-class="{ 'has-errors' : userinfo.telephone.$invalid && !userinfo.telephone.$pristine, 
                      'no-errors' : userinfo.telephone.$valid}">
	   <span class="input-label">Mobile</span>
	   <input name="telephone" type="tel" ng-model="user.telephone" 
                                   ng-minlength="10" ng-maxlength="10"  
                                   numbers-only
                                   my-maxlength="10"
                                   ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" 
                                   required>
	 </label>
         <div class="error-container" ng-show="userinfo.telephone.$error.required || userinfo.telephone.$invalid">
              <div class="error" ng-show="userinfo.telephone.$error.required && userinfo.telephone.$dirty">
                   <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!userinfo.telephone.$error.required 
                                      && (userinfo.telephone.$error.minlength || userinfo.telephone.$error.maxlength) 
                                      && userinfo.telephone.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Must be a valid 10 digit Mobile number!
             </div>
              <div class="error" ng-show="!userinfo.telephone.$error.required 
                                        && !(userinfo.telephone.$error.minlength ||userinfo.telephone.$error.maxlength)
                                        && userinfo.telephone.$error.pattern 
                                        && userinfo.telephone.$dirty">
               <i class="ion-information-circled"></i>
                 Not valid Mobile number!
              </div>
         </div>
                <label class="item item-input">
                    <span class="input-label">Fax</span>
                    <input type="text" name="user.fax" data-ng-model="user.fax" numbers-only my-maxlength="10">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button icon-right ion-chevron-right button-block button-energized" 
                        ng-disabled="userinfo.$invalid"
                        ng-click="updateUserInformation()">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
