<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
        <h1 class="title">Address Book Entries</h1>
        <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content> 
        <form name="userinfo" novalidate>
            <div class="list card">
                <label class="item item-input"  ng-class="{ 'has-errors' : userinfo.firstname.$invalid&& !userinfo.firstname.$pristine, 
                       'no-errors' : userinfo.firstname.$valid}">
                    <span class="input-label">First Name</span>
                    <input type="text" 
                           name="firstname" 
                           data-ng-model="address.firstname" 
                           ng-maxlength="20"
                           my-maxlength="20"
                           ng-pattern="/^[a-zA-Z]*$/" 
                           alphabets-only
                           capitalize-first
                           required>
                </label>
                <div class="error-container">
		      <div class="error" ng-show="userinfo.firstname.$error.required && userinfo.firstname.$dirty">
		        <i class="ion-information-circled"></i> This field is required!
		      </div>
		      <div class="error"  ng-show="!userinfo.firstname.$error.required 
		                              && userinfo.firstname.$error.maxlength 
		                              && userinfo.firstname.$dirty">
		                              <i class="ion-information-circled"></i>
		                              Firstname cantains Max 20 characters!
		     </div>
		      <div class="error" ng-show="!userinfo.firstname.$error.required 
		                                && !userinfo.firstname.$error.maxlength 
		                                && userinfo.firstname.$error.pattern 
		                                && userinfo.firstname.$dirty">
		       <i class="ion-information-circled"></i>
		       Must contain Albhabets!
		    </div>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : userinfo.lastname.$invalid&& !userinfo.lastname.$pristine,
                       'no-errors' : userinfo.lastname.$valid}">
                    <span class="input-label">Last Name</span>
                    <input type="text" 
                           name="lastname" 
                           data-ng-model="address.lastname" 
                           ng-maxlength="20"
                           my-maxlength="20"
                           ng-pattern="/^[a-zA-Z]*$/" 
                           alphabets-only
                           capitalize-first
                           required>
                </label>
                <div class="error-container">
		      <div class="error" ng-show="userinfo.lastname.$error.required && userinfo.lastname.$dirty">
		        <i class="ion-information-circled"></i> This field is required!
		      </div>
		      <div class="error"  ng-show="!userinfo.lastname.$error.required 
		                              && userinfo.lastname.$error.maxlength 
		                              && userinfo.lastname.$dirty">
		                              <i class="ion-information-circled"></i>
		                              Lastname cantains Max 20 characters!
		     </div>
		      <div class="error" ng-show="!userinfo.lastname.$error.required 
		                                && !userinfo.lastname.$error.maxlength 
		                                && userinfo.lastname.$error.pattern 
		                                && userinfo.lastname.$dirty">
		       <i class="ion-information-circled"></i>
		        Must contain Albhabets!
		      </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Company Name</span>
                    <input type="text" 
                           name="company" 
                           data-ng-model="address.company" capitalize-first my-maxlength="20">
                </label>
                <label class="item item-input" ng-class="{ 'has-errors' : userinfo.address_1.$invalid&& !userinfo.address_1.$pristine,
                       'no-errors' : userinfo.address_1.$valid}">
                    <span class="input-label">Address 1</span>
                    <input type="text" 
                           name="address_1" 
                           my-maxlength="90"
                           data-ng-model="address.address_1" required> 
                </label>
                <div class="error-container">
		      <div class="error" ng-show="userinfo.address_1.$error.required && userinfo.address_1.$dirty">
		        <i class="ion-information-circled"></i> This field is required!
		      </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Address 2</span>
                    <input type="text" 
                           name="address_2" 
                           data-ng-model="address.address_2" my-maxlength="90">
                </label>
                <label class="item item-input" ng-class="{ 'has-errors' : userinfo.country.$invalid&& !userinfo.country.$pristine,
                       'no-errors' : userinfo.country.$valid}">
                    <span class="input-label">Country</span>
                    <input type="text" 
                           name="country" 
                           my-maxlength="20"
                           capitalize-first
                           data-ng-model="address.country_name"
                           required>
                </label>
                <div class="error-container">
                  <div class="error" ng-show="userinfo.country.$error.required && userinfo.country.$dirty">
                    <i class="ion-information-circled"></i> This field is required!
                  </div>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : userinfo.state.$invalid&& !userinfo.state.$pristine,
                       'no-errors' : userinfo.state.$valid}">
                    <span class="input-label">State</span>
                    <input type="text" 
                           name="state"  
                           my-maxlength="20"
                           capitalize-first
                           data-ng-model="address.zone_name"
                           required>
                </label>
                <div class="error-container">
                  <div class="error" ng-show="userinfo.state.$error.required && userinfo.state.$dirty">
                     <i class="ion-information-circled"></i> This field is required!
                  </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">City</span>
                    <input type="text"
                           name="address.city" 
                           my-maxlength="20"
                           capitalize-first
                           data-ng-model="address.city">
                </label>
                <label class="item item-input">
                    <span class="input-label">Postcode</span>
                    <input type="text"  
                           name="postcode" 
                           data-ng-model="address.postcode"
                           numbers-only my-maxlength="6">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button icon-right ion-chevron-right button-block button-energized" 
                        ng-click="updateAddressInformation()">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
