 <ion-modal-view>
   <ion-header-bar class="bar bar-header bar-assertive">
      <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
      <h1 class="title">Order History</h1>
      <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
   </ion-header-bar>
   <ion-content class="padding">
   </ion-content>
 </ion-modal-view>
