<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
        <h1 class="title">Wish List</h1>
        <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content class="padding">
      <ion-list>
        <div class="card" ng-repeat="wishlist in wishlists">
            <div class="item item-divider">{{wishlist.name}}
            </div>
            <div class="item item-text-wrap item-thumbnail-left" style="border:none !important">
                <img ng-src={{BASE_URL}}{{wishlist.image}}>
                <h2>{{wishlist.model}}</h2>
                <p>Price : &#8377;{{wishlist.price}}</p>
            </div>
            <div class="button-bar padding">
                <button class="button icon-left ion-android-cart button-balanced" ng-click="addToCart(wishlist)">Cart</button>
                <button class="button icon-left ion-trash-b button-balanced" ng-click="removeProductFromWishList(wishlist)">Remove</button>
            </div>
        </div>
      </ion-list>
      <div ng-if="wishlists !== undefined && !wishlists.length">
      <div class="card">
	  <div class="item item-text-wrap">
	    Wish List Empty..
	  </div>
	</div>
    </div>
    </ion-content>
</ion-modal-view>
