<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
        <h1 class="title">Forgot Password</h1>
        <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content class="padding">
   <form name="forgotform" novalidate>
    <div class="list card">
       	 <label class="item item-input" ng-class="{ 'has-errors' : forgotform.forgotemail.$invalid&& !forgotform.forgotemail.$pristine, 
               'no-errors':forgotform.forgotemail.$valid}">
	   <span class="input-label">Email :</span>
          <input type="email"
                 name="forgotemail" 
                 ng-model="user.forgotemail" 
                 placeholder="Enter your email"
                 ng-maxlength="90" 
                 my-maxlength="90" 
                 required>
	 </label>
    </div>  
    <div class="error-container">
              <div class="error" ng-show="forgotform.forgotemail.$error.required && forgotform.forgotemail.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error" ng-show="!forgotform.forgotemail.$error.required 
                                        && forgotform.forgotemail.$error.email 
                                        && forgotform.forgotemail.$dirty">
               <i class="ion-information-circled"></i>
                 Username should be email!
              </div>
    </div>
    <div class="padding">
     <button class="button icon-right ion-chevron-right button-block button-energized"
             ng-disabled="forgotform.$invalid"  ng-click="reset(user)">
       RESET PASSWORD
     </button>
    </div>
  </form>
 </ion-content>
</ion-modal-view>
