<ion-view view-title="Sign In" cache-view="false"> 
    <ion-content class="center">
    <form name="login" novalidate>
      <div class="row">
       <div class="col">
  	<div class="list">
          <label class="item item-input">
	    <input name="username" type="email" placeholder="Username" ng-model="user.email" required>
	  </label>
          <div class="error-container">
              <div class="error" ng-show="login.username.$error.required && login.username.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error" ng-show="!login.username.$error.required 
                                        && login.username.$error.email 
                                        && login.username.$dirty">
               <i class="ion-information-circled"></i>
                 Username should be email!
              </div>
          </div>
          <label class="item item-input">
	    <input name="password" 
                   type="password" 
                   placeholder="Password" 
                   ng-model="user.password" 
                   ng-maxlength="20" 
                   my-maxlength="20" 
                   required>
	  </label>
           <div class="error-container">
              <div class="error" ng-show="login.password.$error.required && login.password.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
          </div>
	</div>
	<button class="button button-full button-positive" ng-disabled="login.$invalid" ng-click="doLogin(user)">
	 SIGN IN
	</button>
        <div class="row">
	   <div class="col">
               <button class="button button-dark icon-left ion-compose" style="width:100% !important;" ng-click="showRegister()">SIGN UP</button>
           </div>
        </div>
        <div class="row">
	   <div class="col">
               <button class="button button-dark icon-left ion-locked" style="width:100% !important;" ng-click="showForgotPsw()">
               FORGOT PASSWORD</button>
           </div>
        </div>   
     </div>
   </div>
  </form>
  </ion-content>
</ion-view>
