<ion-view view-title="Register" cache-view="false">
  <ion-content class="padding">
  <form name="register_form" novalidate>
   <div class="list">
       
       <div class="item item-divider">
            Customer Group :<br>
            <input type="radio" name="user.customertype" ng-model="user.customertype" ng-value="1" > New Customer
            <input type="radio" name="user.customertype" ng-model="user.customertype" ng-value="2"> Wholesaler
        </div>
         
       
	  <label class="item item-input" ng-class="{ 'has-errors' : register_form.firstname.$invalid&& !register_form.firstname.$pristine, 
                       'no-errors' : register_form.firstname.$valid}">
	    <span class="input-label">First Name</span>
	    <input name="firstname" 
                   type="text" 
                   ng-model="user.firstname" 
                   ng-maxlength="20" 
                   ng-pattern="/^[a-zA-Z]*$/" 
                   my-maxlength="20"
                   alphabets-only
                   capitalize-first required>
	  </label>
          <div class="error-container">
              <div class="error" ng-show="register_form.firstname.$error.required && register_form.firstname.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!register_form.firstname.$error.required 
                                      && register_form.firstname.$error.maxlength 
                                      && register_form.firstname.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Firstname cantains Max 20 characters!
             </div> 
              <div class="error" ng-show="!register_form.firstname.$error.required 
                                        && !register_form.firstname.$error.maxlength 
                                        && register_form.firstname.$error.pattern 
                                        && register_form.firstname.$dirty">
               <i class="ion-information-circled"></i>
               Must contain Albhabets!
            </div>
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : register_form.lastname.$invalid&& !register_form.lastname.$pristine,
                       'no-errors' : register_form.lastname.$valid}">
	    <span class="input-label">Last Name</span>
	    <input name="lastname" 
                   type="text" 
                   ng-model="user.lastname" 
                   ng-maxlength="20" 
                   ng-pattern="/^[a-zA-Z]*$/" 
                   my-maxlength="20"
                   alphabets-only
                   capitalize-first required>
	  </label>
           <div class="error-container">
              <div class="error" ng-show="register_form.lastname.$error.required && register_form.lastname.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!register_form.lastname.$error.required 
                                      && register_form.lastname.$error.maxlength 
                                      && register_form.lastname.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Lastname cantains Max 20 characters!
             </div>
              <div class="error" ng-show="!register_form.lastname.$error.required 
                                        && !register_form.lastname.$error.maxlength 
                                        && register_form.lastname.$error.pattern 
                                        && register_form.lastname.$dirty">
               <i class="ion-information-circled"></i>
                Must contain Albhabets!
              </div>
          </div>
	 <label class="item item-input" ng-class="{ 'has-errors' : register_form.email.$invalid&& !register_form.email.$pristine, 
                      'no-errors' : register_form.email.$valid}">
	   <span class="input-label">Email</span>
	   <input name="email" 
                  type="email" 
                  ng-model="user.email" 
                  ng-maxlength="90" 
                  my-maxlength="90" 
                  required>
	 </label>
         <div class="error-container">
              <div class="error" ng-show="register_form.email.$error.required && register_form.email.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!register_form.email.$error.required 
                                      && register_form.email.$error.maxlength 
                                      && register_form.email.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Mail cantains Max 90 characters!
             </div>
              <div class="error" ng-show="!register_form.email.$error.required 
                                        && !register_form.email.$error.maxlength 
                                        && register_form.email.$error.email 
                                        && register_form.email.$dirty">
               <i class="ion-information-circled"></i>
                 Not valid email!
              </div>
          </div>
	 <label class="item item-input" ng-class="{ 'has-errors' : register_form.telephone.$invalid && !register_form.telephone.$pristine, 
                      'no-errors' : register_form.telephone.$valid}">
	   <span class="input-label">Mobile</span>
	   <input name="telephone" type="tel" ng-model="user.telephone" 
                                   ng-minlength="10" 
                                   ng-maxlength="10" 
                                   ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" 
                                   my-maxlength="10"
                                   numbers-only
                                   required>
	 </label>
         <div class="error-container" ng-show="register_form.telephone.$error.required || register_form.telephone.$invalid">
              <div class="error" ng-show="register_form.telephone.$error.required && register_form.telephone.$dirty">
                   <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!register_form.telephone.$error.required 
                                      && (register_form.telephone.$error.minlength ||register_form.telephone.$error.maxlength) 
                                      && register_form.telephone.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Must be a valid 10 digit Mobile number!
             </div>
              <div class="error" ng-show="!register_form.telephone.$error.required 
                                        && !(register_form.telephone.$error.minlength ||register_form.telephone.$error.maxlength)
                                        && register_form.telephone.$error.pattern 
                                        && register_form.telephone.$dirty">
               <i class="ion-information-circled"></i>
                 Not valid Mobile number!
              </div>
         </div>
	 <label class="item item-input">
	   <span class="input-label">Fax</span> 
           <input name="fax" type="text" ng-model="user.fax" ng-minlength="9" ng-maxlength="11" my-maxlength="11"
                                   numbers-only>
	 </label>
        <label class="item item-input">
	   <span class="input-label">Company</span>
	   <input name="company" type="text" ng-model="user.company" capitalize-first my-maxlength="20">
	 </label>
          <label class="item item-input"  ng-class="{ 'has-errors' : register_form.address_1.$invalid && !register_form.address_1.$pristine, 
                      'no-errors' : register_form.address_1.$valid}" >
	    <span class="input-label">Address1</span>
	    <input name="address_1" type="text" ng-model="user.address_1" my-maxlength="90" required>
	  </label>
          <div class="error-container" ng-show="register_form.address_1.$error.required || register_form.address_1.$invalid">
              <div class="error" ng-show="register_form.address_1.$error.required && register_form.address_1.$dirty">
                   <i class="ion-information-circled"></i> This field is required!
              </div>
          </div>
          <label class="item item-input">
	    <span class="input-label">Address2</span>
	    <input name="address_2" type="text" ng-model="user.address_2" my-maxlength="90">
	  </label>
          <div>
            <ion-select label="Country" label-field="name" provider="countries"  name="country" my-maxlength="20" ng-model="user.country"
                        ng-change="getStateByCountryId(user.country)" required/>
         </div>
         <div class="error-container">
              <div class="error" ng-show="register_form.country.$error.required && register_form.country.$dirty">
                   <i class="ion-information-circled"></i> This field is required!
              </div>
         </div>
         <div>
            <ion-select label="State" label-field="name" provider="states"  name="state" ng-model="user.state" my-maxlength="20" required/>
         </div>
         
         
         
         <div class="error-container">
              <div class="error" ng-show="register_form.state.$error.required && register_form.state.$dirty">
                   <i class="ion-information-circled"></i> This field is required!
              </div>
         </div>
          <label class="item item-input">
	    <span class="input-label">City</span>
	    <input name="city" type="text" capitalize-first ng-model="user.city"  ng-pattern="/^[a-zA-Z]*$/" 
                   my-maxlength="20"
                   alphabets-only
                   capitalize-first required>
	  </label>
      
                <div class="error-container">
              <div class="error" ng-show="register_form.city.$error.required && register_form.city.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!register_form.city.$error.required 
                                      && register_form.city.$error.maxlength 
                                      && register_form.city.$dirty">
                                      <i class="ion-information-circled"></i>
                                      city cantains Max 20 characters!
             </div>
              <div class="error" ng-show="!register_form.city.$error.required 
                                        && !register_form.city.$error.maxlength 
                                        && register_form.city.$error.pattern 
                                        && register_form.city.$dirty">
               <i class="ion-information-circled"></i>
               Must contain Albhabets!
            </div>
          </div>

      
      
          <label class="item item-input">
	   <span class="input-label">Postcode</span>
           <input name="postcode"
                  type="text" 
                  ng-model="user.postcode" 
                  numbers-only 
                  my-maxlength="6">
	 </label>
	 <label class="item item-input" ng-class="{ 'has-errors' : register_form.password.$invalid && !register_form.password.$pristine, 
                       'no-errors' : register_form.password.$valid}">
	    <span class="input-label">Password</span>
	    <input name="password" type="password" ng-model="user.password" 
                   ng-minlength="8" 
                   ng-maxlength="20" 
                   my-maxlength="20"
                   ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" 
                   required>
	 </label>
         <div class="error-container">
              <div class="error" ng-show="register_form.password.$error.required && register_form.password.$dirty">
                   <i class="ion-information-circled"></i>
                   This field is required!
              </div>
             <div class="error"  ng-show="!register_form.password.$error.required 
                                      && (register_form.password.$error.minlength ||register_form.password.$error.maxlength) 
                                      && register_form.password.$dirty">  
                        <i class="ion-information-circled"></i>
                        Passwords must be between 8 and 20 characters.
             </div>
            <div class="error" ng-show="!register_form.password.$error.required && !register_form.password.$error.minlength 
                          && !register_form.password.$error.maxlength && register_form.password.$error.pattern 
                          && register_form.password.$dirty"> 
                          <i class="ion-information-circled"></i>
               Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)
            </div>
        </div>
       <button class="button button-block button-positive" ng-disabled="register_form.$invalid" ng-click="registerUser(user)">
        Register
      </button>
     </div>
    </form>
  </ion-content>
</ion-view>
