<ion-view view-title="Wholesaler">
  <ion-content ng-init="showProduct()">
    <ion-list>
     <div class="list card" ng-repeat="product in products">
       <div class="item item-divider">{{product.name}}</div>
       <div class="item item-thumbnail-left">
           <img ng-src="{{BASE_URL}}{{product.image}}">
    	    <h2>Model: {{product.model}}</h2>
            <h3>Minimum Quantity: {{product.minimum_qty_for_wholesaler}}</h3>
            <h3>Price: &#8377;{{product.price}}/-</h3>
        </div> 
        <div ng-show="product.size.length" class="item item-input item-select">
          <div class="input-label">Size:</div>
          <select>
            <option ng-repeat="size in product.size">{{size.name}}</option>
          </select>
        </div>
        <label class="item item-input">
	  <span class="input-label">Quantity :</span>
          <input type="number" name="quantity" string-to-number ng-model="product.quantity" 
                 ng-init="product.quantity=product.minimum_qty_for_wholesaler" min="product.minimum_qty_for_wholesaler">
        </label>
        <div class="row">
          <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="addToCart(product)">
               Add To Cart</button>
          </div>
        </div>
     </div>
    </ion-list>
  </ion-content>
</ion-view>
