<ion-view view-title="Customize Order" hide-back-button="true" cache-view="false">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
  <form name="custmize_order_form" novalidate>
   <div class="list">
    <div class="padding-bottom">Product Name  :</div>	
    <div class="padding-bottom">
    <label class="item item-input" ng-class="{ 'has-errors' : custmize_order_form.productname.$invalid&& 
                  !custmize_order_form.productname.$pristine,'no-errors' : custmize_order_form.productname.$valid}">
     <input name="productname" type="text" 
            ng-model="user.productname"
            placeholder="Product Name" 
            ng-maxlength="40" 
            capitalize-first 
            required my-maxlength="40"> 
    </label>
    </div>
    <div class="error-container">
              <div class="error" ng-show="custmize_order_form.productname.$error.required && custmize_order_form.productname.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!custmize_order_form.productname.$error.required 
                                      && custmize_order_form.productname.$error.maxlength 
                                      && custmize_order_form.productname.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Product Name cantains Max 40 characters!
             </div>
    </div>
    <div class="padding-bottom">Product Size  :</div>	
    <div class="padding-bottom">
    <label class="item item-input" ng-class="{ 'has-errors' : custmize_order_form.productsize.$invalid&& 
                 !custmize_order_form.productsize.$pristine,'no-errors' : custmize_order_form.productsize.$valid}">
      <input name="productsize" type="text" ng-model="user.productsize" placeholder="Product Size" required my-maxlength="2">
    </label>
    </div> 
    <div class="error-container">
             <div class="error" ng-show="custmize_order_form.productsize.$error.required && custmize_order_form.productsize.$dirty">
                <i class="ion-information-circled"></i> This field is required!
             </div>
    </div>
    <div class="padding-bottom">Product Quantity  :</div>
    <div class="padding-bottom">
    <label class="item item-input" ng-class="{ 'has-errors' : custmize_order_form.productquantity.$invalid&& 
                 !custmize_order_form.productquantity.$pristine,'no-errors' : custmize_order_form.productquantity.$valid}">
      <input name="productquantity" 
             type="text"
             ng-model="user.productquantity" 
             placeholder="Product Quantity" 
             required
             numbers-only 
             my-maxlength="4"> 
    </label>
    </div>
    <div class="error-container">
              <div class="error" ng-show="custmize_order_form.productquantity.$error.required && custmize_order_form.productquantity.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
    </div>
    <div class="padding-bottom">Product Description  :</div>	
    <div class="padding-bottom">
    <label class="item item-input" ng-class="{ 'has-errors' : custmize_order_form.productdecription.$invalid && 
                 !custmize_order_form.productdecription.$pristine,'no-errors' : custmize_order_form.productdecription.$valid}">
       <input name="productdecription" type="text" ng-model="user.productdecription" placeholder="Product Description" 
              my-maxlength="100" required>
    </label>
    </div>
    <div class="error-container">
              <div class="error" ng-show="custmize_order_form.productdecription.$error.required && custmize_order_form.productdecription.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
    </div>
    <div class="padding-bottom">Comments  :</div>	
    <div class="padding-bottom">
    <label class="item item-input">
       <input name="comment" type="text" ng-model="user.comment" placeholder="Comments" my-maxlength="100">
    </label>
    </div>
    <div class="padding-bottom">Product Expexted Date  :</div>
    <div class="padding-bottom">
    <label class="item item-input" ng-class="{ 'has-errors' : custmize_order_form.expected_date.$invalid && 
                 !custmize_order_form.expected_date.$pristine,'no-errors' : custmize_order_form.expected_date.$valid}">
     <input name="expected_date" type="date" ng-model="user.expected_date" min="{{user.min_date}}" required>
    </label>
    </div>
    <div class="error-container">
              <div class="error" ng-show="custmize_order_form.expected_date.$error.required && custmize_order_form.expected_date.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!custmize_order_form.expected_date.$error.required 
                                      && custmize_order_form.expected_date.$error.min 
                                      && custmize_order_form.expected_date.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Not Valid
             </div>
    </div>
    <div class="padding-bottom">Add Reference Image  :</div>	
    <div>
     <button class="button button-full button-energized" ng-click="takePhoto()">
        Take Photo
     </button>
     <button class="button button-full button-energized" ng-click="choosePhoto()">
        Choose Photo
     </button>
    </div>
    <div ng-show="imgURI !== undefined" >
   <div class="padding-bottom">Image Title :</div>
    <div class="padding-bottom">
    <label class="item item-input" ng-class="{ 'has-errors' : custmize_order_form.image_title.$invalid && 
                 !custmize_order_form.image_title.$pristine,'no-errors' : custmize_order_form.image_title.$valid}" >
       <input name="image_title" type="text" ng-model="user.image_title" placeholder="Image Title" my-maxlength="20" required>
    </label>
    </div> 
    <div class="error-container">
              <div class="error" ng-show="custmize_order_form.image_title.$error.required && custmize_order_form.image_title.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
    </div>
    <div>
     <img ng-src="{{imgURI}}" style="text-align: center">
    </div>
    </div>
    <button class="button button-block button-positive" ng-disabled="custmize_order_form.$invalid" ng-click="uploadCustomizedOrder(user)">
        Submit
    </button>
   </div>
 </form>
 </ion-content>
</ion-view>
