<ion-view view-title="Customize Order" cache-view="false">
 </ion-header-bar>
  <ion-content ng-init="showCustomizeList()">
    <ion-list> 
     <a ng-repeat="customizeorder in customizeorderlist" 
             href="#/app/products/{{customizeorder.product_id}}/{{customizeorder.product_price}}/{{customizeorder.meta_title}}">
      <div class="list card padding">
       <div class="item item-divider">{{customizeorder.meta_title}}
       </div>
       <div class="item item-thumbnail-left">
           <img ng-src={{BASE_URL}}{{customizeorder.image}}>
    	    <h2>{{customizeorder.model}}</h2>
            <h2>Customize Name : {{customizeorder.productname}}</h2>
            <h3>&#8377; {{customizeorder.product_price}}</h3>
        </div>
      </div>
    </a>
    </ion-list>
     <div ng-if="customizeorderlist === undefined || !customizeorderlist.length">
       <div class="row padding">
	   <div class="col">Customize Order List is Not Available !!</div>
        </div>
        <div class="row">
	   <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="continueShoping()">Continue Shopping</button>
           </div>
      </div>
    </div>
  </ion-content>
</ion-view>
