<ion-view view-title="Billing Address">
    <ion-content class="padding">
      <form name="register_form" novalidate>
       <div class="list card">

          <ion-radio ng-model="billexist.address"
                     ng-value="bill.value1"
                     name="billing-address">
                     I want to use an existing address
           </ion-radio>

           <div  class="card" ng-show="billexist.address=='A'">
              <div class="item item-text-wrap">
                <div><h3>{{checkoutaddress.firstname}} {{checkoutaddress.lastname}}</h3></div>
                <div>{{checkoutaddress.address_1}}</div>
                <div>{{checkoutaddress.address_2}}</div>
                <div>{{checkoutaddress.city}}, {{checkoutaddress.zone_name}} {{checkoutaddress.postcode}}</div>
                <div>{{checkoutaddress.country_name}}</div>
              </div>
            </div>

            <ion-radio ng-model="billexist.address"
                       ng-value="bill.value2"
                       name="billing-address">

                       I want to use a new address
            </ion-radio>

            <div class="list card" ng-show="billexist.address=='B'">
             <label class="item item-input" ng-class="{ 'has-errors' : register_form.firstname.$invalid&& !register_form.firstname.$pristine,
                       'no-errors' : register_form.firstname.$valid}">
		     <span class="input-label">First Name</span>
		     <input name="firstname"
		           type="text"
		           ng-model="user.bill_firstname"
		           ng-maxlength="20"
		           ng-pattern="/^[a-zA-Z]*$/"
		           my-maxlength="20"
		           alphabets-only
		           capitalize-first required>

	     </label>
             <div class="error-container">
               <div class="error" ng-show="register_form.firstname.$error.required && register_form.firstname.$dirty">
                <i class="ion-information-circled"></i> This field is required!
               </div>
               <div class="error"  ng-show="!register_form.firstname.$error.required
                                      && register_form.firstname.$error.maxlength
                                      && register_form.firstname.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Firstname cantains Max 20 characters!
                </div>
                <div class="error" ng-show="!register_form.firstname.$error.required
                                        && !register_form.firstname.$error.maxlength
                                        && register_form.firstname.$error.pattern
                                        && register_form.firstname.$dirty">
                                        <i class="ion-information-circled"></i>
                                        Must contain Albhabets!
                </div>
           </div>
           <label class="item item-input" ng-class="{ 'has-errors' : register_form.lastname.$invalid&& !register_form.lastname.$pristine,
                       'no-errors' : register_form.lastname.$valid}">
	    <span class="input-label">Last Name</span>
	    <input name="lastname"
                   type="text"
                   ng-model="user.bill_lastname"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z]*$/"
                   my-maxlength="20"
                   alphabets-only
                   capitalize-first required>
	  </label>
          <div class="error-container">
              <div class="error" ng-show="register_form.lastname.$error.required && register_form.lastname.$dirty">
                <i class="ion-information-circled"></i> This field is required!
              </div>
              <div class="error"  ng-show="!register_form.lastname.$error.required
                                      && register_form.lastname.$error.maxlength
                                      && register_form.lastname.$dirty">
                                      <i class="ion-information-circled"></i>
                                      Lastname cantains Max 20 characters!
             </div>
              <div class="error" ng-show="!register_form.lastname.$error.required
                                        && !register_form.lastname.$error.maxlength
                                        && register_form.lastname.$error.pattern
                                        && register_form.lastname.$dirty">
               <i class="ion-information-circled"></i>
                Must contain Albhabets!
              </div>
          </div>
                <label class="item item-input"  ng-class="{ 'has-errors' : register_form.address_1.$invalid&& !register_form.address_1.$pristine,
                       'no-errors' : register_form.address_1.$valid}">
                    <span class="input-label">Address1</span>
                    <input name="address_1" type="text" ng-model="user.bill_address_1" my-maxlength="90" required>
                </label>
                <div class="error-container">
                 <div class="error" ng-show="register_form.address_1.$error.required && register_form.address_1.$dirty">
                    <i class="ion-information-circled"></i> This field is required!
                 </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Address2</span>
                    <input name="address_2" type="text" ng-model="user.bill_address_2" my-maxlength="90">
                </label>
                <label class="item item-input"  ng-class="{ 'has-errors' : register_form.city.$invalid&& !register_form.city.$pristine,
                       'no-errors' : register_form.city.$valid}">
                    <span class="input-label">City</span>
                    <input name="city" type="text" ng-model="user.bill_city" alphabets-only
                   capitalize-first   my-maxlength="20" required>
                </label>
                <div class="error-container">
                 <div class="error" ng-show="register_form.city.$error.required && register_form.city.$dirty">
                    <i class="ion-information-circled"></i> This field is required!
                 </div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Postcode</span>
                    <input name="postcode"
                           type="text"
                           ng-model="user.bill_postcode"
                           numbers-only
                           my-maxlength="6">
                </label>
                <label class="item item-input">
                    <span class="input-label">State</span>
                    <input name="state" type="text" ng-model="user.bill_zone_name" alphabets-only capitalize-first   my-maxlength="20" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Country</span>
                    <input name="country" type="text" ng-model="user.bill_country_name" alphabets-only capitalize-first my-maxlength="20" required>
                </label>

      <!--    <div>
            <ion-select label="Country" label-field="name" provider="countries"  name="country" my-maxlength="20" ng-model="user.country"
                        ng-change="getStateByCountryId(user.country)" required/>
         </div>-->



        </div>
         <button class="button icon-right ion-chevron-right button-block button-assertive"
                ng-disabled="register_form.$invalid && billexist.address=='B'"
                ng-click="billCheckout()">
         Billing to this Address</button>
      </form>
    </ion-content>
</ion-view>
