<ion-view view-title="Delivery Method">
  <ion-content>
    <div class="card">
	       <div class="item item-text-wrap">Please select the preferred shipping method to use on this order.</div>
	       <ion-radio ng-model="delivery.method" ng-value="deliverymethod.value" 
                          name="delivery-method">Flat Shipping Rate - &#8377;{{tax}}/-</ion-radio>
	       <div class="item item-divider">Comments</div>
	       <label class="item item-input">
		    <textarea placeholder="Comments" ng-model="delivery.comment" my-maxlength="90"></textarea>
	       </label>
     </div>
  </ion-content>
  <ion-footer-bar class="footer-button">
     <div class="buttons center" style="border:none !important;border-radius: 5px !important;background-color:#FE642E;color: white;height: 100% 
                !important;width: 100% !important;" ng-click="goToPayment()">
      <button class="button button-icon icon-right ion-chevron-right" style="border:none !important;color: white;
                    text-align:center !important;width: 100%;">
      Proceed</button>
     </div>
   </ion-footer-bar>
</ion-view>
