<ion-view view-title="Payment Method">
  <ion-content>
       <div class="card">
	       <div class="item item-text-wrap">Please select the preferred payment method to use on this order.</div>
	       <ion-radio ng-model="payment.method" ng-value="paymentmethod.value" name="payment-method">Cash On Delivery</ion-radio>
               <div ng-if="userwholesaler">
		    <div class="item item-text-wrap">Do you wants to make partial payment - {{partialpaymentpercentage}}%</div>
		    <div class="padding">
		         <ion-radio ng-model="partialpayment.flag" ng-value="partialpayment.value1" name="partial-payment">Yes</ion-radio>
		         <ion-radio ng-model="partialpayment.flag" ng-value="partialpayment.value2" name="partial-payment">No</ion-radio>
		    </div>
               </div>
               <div ng-if="!userwholesaler && customize_order_status==true">
		    <div class="item item-text-wrap">Do you wants to make partial payment - {{partialpaymentpercentage}}%</div>
		    <div class="padding">
		         <ion-radio ng-model="partialpayment.flag" ng-value="partialpayment.value1" name="partial-payment">Yes</ion-radio>
		         <ion-radio ng-model="partialpayment.flag" ng-value="partialpayment.value2" name="partial-payment">No</ion-radio>
		    </div>
               </div>
	       <div class="item item-divider">Comments</div>
	       <label class="item item-input">
		    <textarea placeholder="Comments" ng-model="payment.comment" my-maxlength="90"></textarea>
	       </label>  
	       <div class="row">
		     <div class="col col-25"><ion-checkbox ng-model="payment.agreement"></ion-checkbox></div>
		     <div class="col col-75">I have read and agree to the Terms and Conditions.</div>
	       </div>
       </div>
  </ion-content>
  <ion-footer-bar class="footer-button">
     <div class="buttons center" style="border:none !important;border-radius: 5px !important;background-color:#FE642E;color: white;height: 100% 
                !important;width: 100% !important;" ng-click="goToConfirm()">
      <button class="button button-icon icon-right ion-chevron-right" style="border:none !important;color: white;
                    text-align:center !important;width: 100%;">
      Proceed</button>
     </div>
   </ion-footer-bar>
</ion-view>
