<ion-view view-title="Order Products" cache-view="false">
 <ion-header-bar class="bar bar-subheader">
 <div ng-show="cartlists.length">
  <div class="row">
           <div class="col">Total Product: {{cartlists.length}}</div>
           <div class="col">&#8377; {{total}}/-</div>
  </div>
  <div class="row">
           <div class="col">Flat Shipping Rate:</div>
           <div class="col">&#8377;{{tax}}/-</div>
  </div>
  <div class="row">
           <div class="col">VAT:</div>
           <div class="col">&#8377;{{VAT}}/-</div>
  </div>
  <div class="row">
           <div class="col">Grand Total:</div>
           <div class="col">&#8377; {{grandTotal}}/-</div>
  </div>
 </div>
 <div ng-if="cartlists !== undefined && !cartlists.length">
      <div class="card">
	  <div class="item item-text-wrap">
	    Cart List Empty..
	  </div>
	</div>
 </div>
 </ion-header-bar>
  <ion-content ng-init="showAllCart()">
    <ion-list>
     <div class="list card padding"  ng-repeat="cartlist in cartlists">
       <div class="item item-divider">{{cartlist.name}}
       </div>
       <div class="item item-thumbnail-left">
           <img ng-src={{BASE_URL}}{{cartlist.image}}>
    	    <h2>{{cartlist.model}}</h2>
            <h3>Price Per Unit : &#8377;{{cartlist.price}}</h3>
        </div>
        <label class="item item-input">
	  <span class="input-label">Quantity :</span>
          <span class="input-label">{{cartlist.quantity}}</span>
        </label>
        <div class="row" ng-if="!cartlist.flag">
           <div class="col col-25">Total:</div>
           <div class="col col-offset-10"><h4>&#8377; {{cartlist.price*cartlist.quantity}}/-</h4></div>
        </div> 
       <div class="row"  ng-if="cartlist.flag">
           <div class="col col-25">Partial Payment:</div>
           <div class="col col-offset-10"><h4>&#8377; {{cartlist.customizetoal}}/-</h4></div>
       </div> 
     </div>
    </ion-list>
  </ion-content>
 <ion-footer-bar>
    <div class="buttons center" style="border:none !important;border-radius: 5px !important;background-color:#4CAF50;color: white;
                height: 100% !important;width: 100% !important;" ng-click="confirmOrder()">
    <button class="button button-icon icon-right ion-chevron-right" style="border:none !important;color: white;text-align:center !important;
                   width: 100%;">
     Confirm Order</button>
  </div>
</ion-footer-bar>
</ion-view>
