<ion-view view-title="Return Information">
    <ion-content ng-init="orderReturnInfo()">
        <ion-list>
            <div class="list card">
                <div class="item item-divider">Return Details</div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">Return ID:</div>
                        <div class="col">{{return_product.return_id}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Order Id:</div>
                        <div class="col">{{return_product.order_id}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Date Added:</div>
                        <div class="col">{{return_product.date_added}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Order Date:</div>
                        <div class="col">{{return_product.date_ordered}}</div>
                    </div>
                </div>
                <div class="item item-divider">Product Information</div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">Product Name:</div>
                        <div class="col">{{return_product.product}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Product Model:</div>
                        <div class="col">{{return_product.model}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Quantity:</div>
                        <div class="col">{{return_product.quantity}}</div>
                    </div>
                </div>
                <div class="item item-divider">Reason For Return</div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">Reason:</div>
                        <div class="col">{{return_product.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Opened:</div>
                        <div class="col" ng-if="return_product.opened==1">Yes</div>
                        <div class="col" ng-if="return_product.opened==0">No</div>
                    </div>
                    <div class="row">
                        <div class="col">Action:</div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
