<ion-view view-title="Order Details">
  <ion-content ng-init="orderInfo()">
  <ion-list>  
   <div class="list card">
      <div class="item item-divider">Order Details</div>
      <div class="item item-text-wrap">
        <div class="row">
           <div class="col"><h2>ID:#{{orderdetails.order_id}}</h2></div>
        </div> 
        <div class="row">
          <div class="col">Payment Method:</div>
          <div class="col">{{orderdetails.payment_method}}/-</div>
        </div>
        <div class="row">
          <div class="col">Shipping Method:</div>
          <div class="col">{{orderdetails.shipping_method}}</div>
        </div>
       <div class="row">
          <div class="col">Date Added:</div>
          <div class="col">{{orderdetails.date_modified}}</div>
       </div>
    </div>
    <div class="item item-divider">Payment Address</div>
     <div class="item item-text-wrap">
        <div class="row">
           <div class="col">{{orderdetails.payment_firstname}} {{orderdetails.payment_lastname}}</div>
        </div> 
       <div class="row">
           <div class="col">{{orderdetails.payment_address_1}}</div>
        </div> 
     <div class="row">
           <div class="col">{{orderdetails.payment_city}},{{orderdetails.payment_postcode}},
                            {{orderdetails.payment_zone}},{{orderdetails.payment_country}}
           </div>
     </div> 
     </div>
     <div class="item item-divider">Shiiping Address</div>
     <div class="item item-text-wrap">
        <div class="row">
           <div class="col">{{orderdetails.shipping_firstname}} {{orderdetails.shipping_lastname}}</div>
        </div> 
       <div class="row">
           <div class="col">{{orderdetails.shipping_address_1}}</div>
        </div> 
     <div class="row">
           <div class="col">{{orderdetails.shipping_city}},{{orderdetails.shipping_postcode}},
                            {{orderdetails.shipping_zone}},{{orderdetails.shipping_country}}
           </div>
     </div> 
     </div>
   </div>
   <div class="list card">
    <div class="item item-divider">Order Total</div>
     <div class="item item-text-wrap">
     <div class="row" ng-repeat="oc_order in oc_order_total">
           <div class="col">{{oc_order.title}}:</div>
           <div class="col">&#8377;{{oc_order.value}}/-</div>
     </div>
    </div>
   </div>
   <div class="list card">
    <div class="item item-divider">Product Information</div>
     <div class="item item-body">
     <div class=" card" ng-repeat="product_info in oc_order_product">
      <div class="item item-divider">{{product_info.name}}</div>
      <div class="row">
           <div class="col">Model: </div>
           <div class="col">{{product_info.model}}</div>
     </div>
     <div class="row">
           <div class="col">Quantity: </div>
           <div class="col">{{product_info.quantity}}</div>
     </div>
     <div class="row">
           <div class="col">Total Price: </div>
           <div class="col">&#8377;{{product_info.total}}/-</div>
     </div>
     <div class="row">
          <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="orderReturn(product_info.order_product_id)">
              Return</button>
          </div>
       </div>
    </div>
    </div>
   </div>
  </ion-list> 
 </ion-content>
</ion-view>
