<ion-view view-title="Order History" cache-view="false">
 <ion-content ng-init="showAllHistory()">
    <ion-list>
     <div class="list card"  ng-repeat="orderhistory in orderhistorys">
      <div class="item item-divider">{{orderhistory.firstname}} {{orderhistory.lastname}}</div>
      <div class="item item-body">
        <div class="row">
           <div class="col"><h2>ID:#{{orderhistory.order_id}}</h2></div>
           <div class="col"><h2>Total Product:{{orderhistory.cnt}}</h2></div>
        </div> 
        <div class="row">
          <div class="col">Total:</div>
          <div class="col">&#8377;{{orderhistory.total}}/-</div>
        </div>
        <div class="row">
          <div class="col">Order Status:</div>
          <div class="col">{{orderhistory.name}}</div>
        </div>
       <div class="row">
          <div class="col">Date Added:</div>
          <div class="col">{{orderhistory.date_added}}</div>
       </div>
       <div class="row">
          <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="showOrderDetails(orderhistory.order_id)">
              Show Details</button>
          </div>
       </div>
      </div>
     </div>
    </ion-list>
    <div ng-if="orderhistorys === undefined || !orderhistorys.length">
       <div class="row padding">
	   <div class="col">Order History is Not Available !!</div>
        </div>
        <div class="row">
	   <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="continueShoping()">Continue Shopping</button>
           </div>
      </div>
    </div>
  </ion-content>
</ion-view>
