<ion-view view-title="Return History" cache-view="false">
 <ion-content ng-init="showAllReturnHistory()">
    <ion-list>
     <div class="list card"  ng-repeat="orderreturnhistory in orderreturnhistorys">
      <div class="item item-divider">{{orderreturnhistory.firstname}} {{orderreturnhistory.lastname}}</div>
      <div class="item item-body">
        <div class="row">
           <div class="col">Return ID:</div>
           <div class="col">{{orderreturnhistory.return_id}}</div>
        </div> 
        <div class="row">
          <div class="col">Order Id:</div>
          <div class="col">{{orderreturnhistory.order_id}}</div>
        </div>
        <div class="row">
          <div class="col">Status:</div>
          <div class="col">{{orderreturnhistory.name}}</div>
        </div>
       <div class="row">
          <div class="col">Date Added:</div>
          <div class="col">{{orderreturnhistory.date_added}}</div>
       </div>
       <div class="row">
          <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="showReturnDetails(orderreturnhistory.return_id)">
              Show Details</button>
          </div>
       </div>
      </div>
     </div>
    </ion-list>
    <div ng-if="orderreturnhistorys === undefined || !orderreturnhistorys.length">
       <div class="row padding">
	   <div class="col">Customize Order Return List is Not Available !!</div>
        </div>
        <div class="row">
	   <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-click="continueShoping()">Continue Shopping</button>
           </div>
      </div>
    </div>
  </ion-content>
</ion-view>
