<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-click="closeModal()"></button>
        <h1 class="title">Order Return</h1>
        <button class="button button-clear button-icon icon ion-close-circled" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>
   <form name="order_form" novalidate>
     <div class="list card">
          <div class="item item-divider">Personal Information</div>
	  <label class="item item-input">
	    <span class="input-label">First Name</span>
	    <input name="firstname" type="text" ng-model="user.firstname" required>
	  </label>
          <label class="item item-input">
	    <span class="input-label">Last Name</span>
	    <input name="lastname" type="text" ng-model="user.lastname" required>
	  </label>
	 <label class="item item-input">
	   <span class="input-label">Email</span>
	   <input name="email" type="email" ng-model="user.email" required>
	 </label>
	 <label class="item item-input">
	   <span class="input-label">Mobile</span>
	   <input name="telephone" type="tel" ng-model="user.telephone" ng-minlength="10" ng-maxlength="10" required>
	 </label>
	 <label class="item item-input">
	   <span class="input-label">Order ID</span>
           <span class="input-label">{{user.order_id}}</span>
	 </label>
     </div>
     <div class="list card">
      <div class="item item-divider">Product Information</div>
      <div class="item item-body">
       <div class="row">
	    <div class="col">Product Name:</div>
           <div class="col">{{user.name}}</div>
       </div>
       <div class="row">
	    <div class="col">Product Code:</div>
            <div class="col">{{user.model}}</div>
       </div>
       <div class="row">
	   <div class="col">Quantity:</div>
           <div class="col">{{user.quantity}}</div>
       </div>
     </div>
    </div>

    <div class="list card">
     <div class="item item-divider">Reason For Return</div>
      <div>
       <ion-radio ng-model="user.reason_for_return" ng-value="reason.value1" name="return-reason" required>{{reason.value1}}</ion-radio>
       <ion-radio ng-model="user.reason_for_return" ng-value="reason.value2" name="return-reason" required>{{reason.value2}}</ion-radio>
       <ion-radio ng-model="user.reason_for_return" ng-value="reason.value3" name="return-reason" required>{{reason.value3}}</ion-radio>
       <ion-radio ng-model="user.reason_for_return" ng-value="reason.value4" name="return-reason" required>{{reason.value4}}</ion-radio>
       <ion-radio ng-model="user.reason_for_return" ng-value="reason.value5" name="return-reason" required>{{reason.value5}}</ion-radio>
      </div>
    </div>
    <div class="list card">
     <div class="item item-divider">Reason For Return</div>
      <div>
       <ion-radio ng-model="user.product_open" ng-value="product_open.value1" name="products-open" required>Yes</ion-radio>
       <ion-radio ng-model="user.product_open" ng-value="product_open.value2" name="products-open" required>No</ion-radio>
      </div>
    </div>
     <div class="row">
          <div class="col">
               <button class="button button-dark" style="width:100% !important;" ng-disabled="order_form.$invalid" 
                       ng-click="orderReturnSubmit()">
              Submit</button>
          </div>
     </div>
    </form>
  </ion-content>
</ion-view>
